
Proba_labor/.vs/Proba_labor/v16/Browse.VC.db
probaproba/.vs/probaproba/v16/Browse.VC.db
probaproba/.vs/probaproba/v16/Browse.VC.opendb
prob2/.vs/prob2/v16/Browse.VC.db
Game/Game_1.0/.vs/Game_1.0/v16/.suo
*.db
*.opendb
